body {
  background-color: blueviolet;
  font-family: Arial, sans-serif;
}

.container {
  max-width: 900px;
  margin: 30px auto;
  background-color: antiquewhite;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: thick solid black;
}

h1 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.input-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.input {
  flex: 2.5;
  height: 30px;
}

.schedule-date {
  flex: 0.8;
}

.add-task-button {
  padding: 0.5rem 1rem;
  background-color: #6366f1;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.delete-all-btn {
  padding: 0.5rem 1rem;
  background-color: #ef4444;
  color: #fff;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.alert-message {
  background-color: #ffb2b2;
  color: #8c1515;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  display: none;
}

.table {
  border-collapse: collapse;
  width: 100%;
  border: 5px solid black;
}

th, td {
  border: 3px solid #ccc;
  padding: 8px;
  text-align: left;
  background-color: aquamarine;
}
th
{
  background-color: #ccc;
}

.heading
{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.cont
{
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: aquamarine;
}


tr:nth-child(even) {
  background-color: aqua;
}

tr:hover {
  background-color: #e6e6e6;
}
